/* styles/Navbar.module.css */

.navbar {
  background-color: transparent !important; /* Override Bootstrap styles */
  display: flex; 
  align-items: center;
}
.brandIcon {
  /* Add your styles here */
  margin-right: 10px; /* Example: Add some space between the icon and the brand text */
}
.navbarBrand {
  font-size: 29px;
  margin-left:70px;
  color: white; /* Set the color of the brand text */
}

.navLink {
  color: white; /* Set the color of the nav link text */
  padding: 0 5px; /* Adjust padding on each side of nav links */
  font-size: 13.8px; /* Set font size */
  text-decoration: none; /* Remove default text decoration */
  transition: border-bottom 0.09s, background-color 0.09s; /* Smooth transition for the underline and background color */
  background-color: transparent !important; /* Ensure background is always transparent */
}

.navLink:hover, .navLink:focus {
  border-bottom: 2px solid white; /* White underline on hover */
  background-color: transparent !important; /* Force background to remain transparent on hover */
  color: white !important; /* Maintain text color on hover */
}


.navItem:last-child {
  margin-right: 0; /* Remove margin for the last item */
}


.navbarToggler {
  /* Styles for the navbar toggler */
  border-color: white; /* Example: change the border color */
}

.icons {
  margin-left: 20px; /* Add some space before the icons */
}


/* Hide icons on small screens (when navbar is collapsed) */
@media (max-width: 991.98px) {
  .icons {
    display: none;
  }
}
@media (min-width: 992px) {
  .navbarNav {
    display: flex;
    justify-content: flex-end; /* Align nav items to the right */
    width: 100%;
    align-items: center;
  }
 .navItem {
    /* Adjust as needed for the nav items */
    margin-left: -70px; /* Adjust the margin to control space between nav items */
  }

  .navItem:not(:last-child) {
    margin-right: auto; /* Push all nav items except the last to the right */
  }
  .navItem:first-child {
    margin-left: 170pt; /* Add space between the brand and the first nav item */
  }
  .icons:first-child {
    margin-right: 55px; /* Add some space before the icons */
  }
  .icons:last-child {
    margin-left: -40px; /* Add some space before the icons */
  }
}