.productSection {
    color: #ffffff;
    padding: 2rem;
    text-align: 'center';
  }
  
  .productText {
    margin-bottom: 2rem;
  }
  
  .productTitle {
    font-size: 2.5rem; /* Adjust as needed */
    font-weight: bold; /* Adjust as needed */
  }
  
  .productImage {
    /* Add your existing styling here */
    margin-top: 0px; /* Decrease the top margin to move the image higher */
    margin-right: 0px; /* Keep the right margin larger to push the image more to the right */
    margin-bottom: 0px; /* Adjust the bottom margin as needed */
    margin-left: 78px; /* Decrease the left margin */
  }
  
  
  .productActions {
    /* Add styles for action buttons */
    display: flex;
    justify-content: space-between; /* This will separate the buttons */
    margin-top: 20px; /* Adjust the margin as needed */
  
    /* Style the buttons */
  }
  .colorOption {
    width: 20px; /* Example width */
    height: 20px; /* Example height */
    display: inline-block;
    margin-right: 10px;
    border-radius: 50%; /* For circular color options */
  }
  
  .buyNow,
.addToCart {
  padding: 5px 30px; /* Reduced padding for thinness, increased for width */
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease; /* Optional: Adds a smooth transition effect for hover states */
}
.buyNow {
  background-color: #06a7ee; /* Lighter blue color */
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 0.8rem;
  cursor: pointer;
  width: 150px;
  height: 40px;
  text-align: center; /* Center-align the text horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
}

.addToCart {
  background-color: transparent;
  color: rgb(234, 238, 249);
  border: 2px solid rgb(230, 233, 243);
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 0.8rem;
  width: 150px;
  height: 40px;
  text-align: center; /* Center-align the text horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
}

  .btnCustom {
    padding: 50px 35px; /* Reduced vertical padding and increased horizontal padding */
  }
  .buyNowBtn {
    background-color: rgb(103, 108, 154); /* Light blue for the Buy Now button */
    border-color: #add8e6;
  }
 

/* Filled star */
.filledStar {
  color: rgba(240, 240, 60, 0.836);/* Set the color to yellow or your desired color */
}

/* Unfilled star */

/* Style for product titles */
.productTitle, .h1 {
  font-size: 60px;
  font-weight: bold;
  color: #FFFFFF; /* White text color */
  text-shadow: 0.5px 0.8px 0.4px rgb(103, 108, 154);
  text-align: left; /* Center-align the text */
  margin-bottom: 0.5px; /* Add some space below the text */
}

/* Style for product subtitles */
.productSubtitle, .h2 {
  font-size: 32px;
  font-weight: bold;
  color: #FFFFFF; /* White text color */
  text-shadow: 0.8px 1px 0.4px rgb(103, 108, 154);
  text-align: left; /* Center-align the text */
  margin-bottom: 25px; /* Add some space below the text */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  overflow: hidden; /* Hide any overflow text */
  text-overflow: ellipsis; /* Add ellipsis (...) for overflow text */
}

/* Style for product descriptions */
.productDescription, .h3 {
  font-size: 10px;
  font-style: italic; /* Use font-style for italic text */
  color: #FFFFFF; /* White text color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: left; /* Center-align the text */
  margin-bottom: 15px; /* Add some space below the text */
}
@media (max-width: 992px) {
  .myCustomGrid {
    /* Custom styles for the entire grid on smaller screens */
    text-align: center; /* Center-aligns text */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center-aligns flex items horizontally */
    justify-content: center; /* Center-aligns flex items vertically */
  }
  .myCustomGrid .col-md-6, .myCustomGrid .col-md-12 {
    width: 100%;
  } 
}